:root {
    --backdround-color: #ffffff;
    --accent-color: #404bbf;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color-text: #434455;
    --secondary-color-text: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--backdround-color);

}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    height: 70px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;


}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

/* LOGO */
.logo {
    font-family: 'Raleway', sans-serif;

    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;

}

.logo-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-text);
}

.list-nav,
.list-contacts {
    display: none;
}

.mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 80px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
    transform: translateX(0);
}

.menu-open-svg {
    stroke: #2E2F42;
    width: 32px;
    height: 22px;
    padding: 0;
}


.menu-open-btn {
    display: block;
    border-style: none;
    background: none;
}

.container-mob {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;


}



.mob-menu-page:not(:last-child) {
    margin-bottom: 40px;
}

.mob-site {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}


.current {
    color: #404bbf;
}

.mob-list-contacts {
    font-style: normal;
}

.mob-menu-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
    display: block;
    margin-bottom: 40px;
}

.mob-social-list {
    display: flex;
    gap: 56px;
    justify-content: flex-start;
}

.mob-menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    margin-bottom: 48px;
}

@media screen and (max-width: 427px) {
    .mob-menu-tel {
        font-size: 26px;
    }

    .container-mob {
        display: flex;
        justify-content: space-between;
    }

    .head {
        padding: 24px 15px;
    }

    .mob-social-list {
        display: flex;
        gap: 0;
        justify-content: space-between;
    }
}



/* .header>.container {
    padding: 24px 16px 24px 16px;
    min-width: 100%;
} */

.mob-social-link {
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 8px;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}



/* Main section hero */
.hero {
    background-color: #2E2F42;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundheromob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundheromob@2x.jpg);
    }
}


.hero-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 72px;
    max-width: 320px;
    text-align: center;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* Features  */
.icon-background {
    display: none;

}

.title-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
    margin-bottom: 8px;
    text-align: center;
}

.features-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
}



.titel-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color-text);
    margin-bottom: 72px;
}


/* < !-- Our Team --> */

.our-team {
    background-color: #F4F4FD;
    padding: 96px 0;
    min-width: 264px;
}


.team-members {
    background: var(--backdround-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;

}

.name-employee {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
    text-align: center;
    margin-bottom: 8px;
}

.employee-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    text-align: center;
    margin-bottom: 8px;

}

.icon-social-link {
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 12px;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.icon-social-link:hover,
.icon-social-link:focus {
    background-color: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.icon-social {
    fill: #f4f4fd;
}

.social-icon {
    width: 40px;
    height: 40px;
}

/* footer */
.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    display: block;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    text-align: center;

}



.logo-footer-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-slogan {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
}

/* PORTFOLIO */
.btn-portfolio:hover,
.btn-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.btn-portfolio {
    font-family: "Roboto", sans-serif;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);

    margin-bottom: 8px;
}


.portfolio-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);

}



.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}



/* Main page section HERO */
.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;


}

/* Main page next section */
.second-section {
    padding: 96px 0;
}

.third-section {
    display: none;
    padding-bottom: 120px;
}


h1,
h3,
h2,
p,
ul {
    margin: 0;
}


.features {
    margin-bottom: 72px;
}

.features:last-child {
    margin-bottom: 0;
}

/* What we are doing */
.do-examples {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.exampel {
    width: calc((100%-48px)/3);
}

/* Our Team */


.team-members {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* FOOTER */


/* PORTOFLIO */
.filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;

}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
}

.card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links>.portfolio-link {
    flex-basis: calc(100%/3-48px);
}


img {
    display: block;

    height: auto;

}

.container-card {
    padding: 32px 16px;
}

.card-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.customers-section {
    padding: 96px 0;
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

.customer {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    padding: 16px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
    fill: currentColor;
}

.footer-content {
    justify-content: center;
}

.footer-social-container {
    /* margin-right: 80px; */
    margin-bottom: 72px;
}

.titel-socials {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

/* .footer-right {
    margin-right: 120px;
} */
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-point {
    width: 40px;
    height: 40px;
}

.footer-socials {
    display: inline-block;
    border-radius: 50%;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials:hover,
.footer-socials:focus {
    background-color: #31D0AA;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg-footer {
    fill: #f4f4fd;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    width: 100%;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
    background-color: #404bbf;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus .icon-modal {
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background: #4D5AE5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
    transform: translate(0, 0);
}



.form-footer-titel {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.form-footer-email {
    width: 100%;
    max-width: 398px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.form-footer-email::placeholder {
    color: #ffffff
}

.form-footer-email:focus {
    border: 1px solid #4D5AE5;
    outline: none;
}


.form-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    background: #4D5AE5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.icon-subscribe {
    fill: #FFFFFF;

}



.modal-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}


.form-container {
    margin-bottom: 8px;
}

.form-container-comment {
    margin-bottom: 16px;
}

.modal-comment:focus {
    border-color: #4D5AE5;
    outline: none;
}

.input-label {
    font-size: 12px;
    color: #8E8F99;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-label span {
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}


.form-line {
    position: relative;
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.icon-form {
    fill: #4D5AE5;
}


.modal-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.btn-form {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    align-items: center;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-form:hover,
.btn-form:focus {
    background: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 24px;
    position: relative;
}

.check-label {
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}



.label-click {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;

    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.link-privacy {
    color: #4D5AE5;
}

@media screen and (min-width: 320px) and (max-width: 764px) {
    .container {
        max-width: 428px;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 72px;
        width: 264px;
        margin: 0 auto;
    }

    .header>.container {
        padding: 24px 16px 24px 16px;
        min-width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 765px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundherotab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundherotab@2x.jpg);
        }
    }

    .container {
        max-width: 736px;
    }

    .hero-titel {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .list-features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        padding: 0;

    }

    .features {
        width: calc((100% - 24px)/ 2);
        margin: 0;

    }

    .title-features {

        text-align: left;
    }

    .our-team {

        padding: 96px 0;
        min-width: 552px;
    }

    .team {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-members {
        width: calc((100%-24px) / 2);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        margin: 0;
    }

    .customers-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .customer {
        width: calc((100% - 48px) / 3);
    }

    .customers-section {
        max-width: 552px;
        margin: 0 auto;
    }

    .tablet-footer {
        display: flex;
        gap: 24px;

    }

    .footer-content {
        max-width: 552px;
        margin: 0 auto;
    }

    .form-footer-titel {
        text-align: left;
    }

    .form-footer-email {
        width: 264px;
        margin-bottom: 0;


    }

    .form-footer {
        display: flex;
        gap: 24px;
    }

    .form-footer-btn {
        margin: 0;
    }

    .logo-footer {
        text-align: left;
    }

    .titel-socials {
        text-align: left;
    }

    .menu-open-btn {
        display: none;
    }

    .header {
        height: 72px;
    }

    .header>.container {
        height: 72px;

    }

    .head {
        display: flex;
        height: 72px;
        justify-content: space-between;
    }



    .navigation {
        display: flex;
        align-items: center;
    }

    .list-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;

        padding: 0px;
        gap: 40px;

    }

    .list-contacts {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 12px;
    }

    .nav-site.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;

    }


    .nav-site {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color-text);
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-site:hover,
    .nav-site:focus {
        color: #404bbf;

    }


    .current {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
        padding: 16px 0;
    }

    .contact {

        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .contact:hover,
    .contact:focus {
        color: var(--accent-color);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


}

/* Peersonal computer */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .hero-titel {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
    }


    .icon-background {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background: #F4F4FD;
        padding: 24px 100px 24px 100px;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    .list-features {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 0;
        margin-bottom: 72px;
        margin: 0;

    }

    .features {
        flex-basis: calc((100% - 2px)/ 4);
        margin: 0;
    }

    .title-features {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .features-descr {
        font-weight: 400;

    }

    .third-section {
        display: block;
    }

    .team {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .team-members {
        width: calc((100%-72px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        margin: 0;
    }

    .second-section {
        padding: 120px 0;
    }

    .our-team {
        padding: 120px 0;
    }

    .hero {
        padding: 188px 0px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundhero.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundhero@2x.jpg);
        }
    }

    .customers-section {
        padding: 120px 0;
    }

    .customers-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .customer {
        width: calc((100% - 120px) / 6);
    }

    .customers-section {
        max-width: 1128px;
        margin: 0 auto;
    }

    .footer {
        padding: 100px 0;
    }

    .footer-content {
        display: flex;
        align-items: baseline;
    }

    .logo-footer {
        display: inline-block;
    }

    .form-footer {
        display: flex;
        gap: 24px;
    }

    .footer-social-container {
        margin-right: 80px;
    }


    .form-footer-titel {
        display: block;
        text-align: left;
    }

    .form-footer-email {
        width: 264px;
    }

    .footer-slogan {
        margin-bottom: 0;
    }

    .footer-social-container {
        margin-bottom: 0;
    }

    .tablet-footer {
        display: flex;
        gap: 80px;
    }

    .list-contacts {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 40px;
    }

    .contact {
        font-size: 16px;

    }

    .contacts {
        padding: 24px 0px;
    }

    .fsd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



}